#loginpage div h5, #signuppage div h5 {
    color: red;
}

.carousel-inner article {
    background-color: #9A9A9A;
}
#splashslogan * {
    padding: 4%;
    color: #EFEFEF !important;
}
#jumbotron1 {
    background-color: #0765BC;
}
#jumbotron2 {
    background-color: #9A9A9A;
}