<!--https://stackoverflow.com/questions/51478156/how-to-truncate-decimal-number-digits-in-thymleaf-->
<div class="d-flex flex-row flex-wrap justify-content-around" th:fragment="prospectsTable">
    <div class="card mb-3" id="prospectCards" th:each="company : ${allCompanies}">
        <section class="card-body">
            <a class="text-decoration-none" th:href="${'/stocks?symbol=' + company.symbol}"><h4 class="font-weight-bold" th:text="${company.symbol}">Link to company pageSymbol</h4></a>
            <p class="card-title">[[${company.companyName}]]</p>
            <p class="card-text">Price: <b>$[[${#numbers.formatDecimal(company.price, 0, 'COMMA', 2, 'POINT')}]]</b></p>
            <p class="card-text">PB Ratio: <b>[[${#numbers.formatDecimal(company.priceToBook, 0, 'COMMA', 2, 'POINT')}]]</b></p>
            <p class="card-text">PEG Ratio: <b>[[${#numbers.formatDecimal(company.pegRatio, 2, 2, 'POINT')}]]</b></p>
            <p class="card-text">Profit Margin: <b>[[${#numbers.formatDecimal((company.profitMargin * 100), 2, 2, 'POINT')}]]%</b></p>
            <p class="card-text">PE Ratio: <b>[[${#numbers.formatDecimal(company.peRatio, 2, 2, 'POINT')}]]</b></p>
            <p class="card-text">Market Cap: <b>$[[${#numbers.formatDecimal(company.marketcap, 0, 'COMMA', 2, 'POINT')}]]</b></p>
            <p class="card-text">Beta: <b>[[${#numbers.formatDecimal(company.beta, 2, 2, 'POINT')}]]</b></p>
        </section>
    </div>
</div>