/* mobile */
* {
    color: #787878;
}
.body footer {
    position: absolute;
    left: 0;
    bottom: 0;
}
#lowerFooter footer {
    position: absolute;
    bottom: 0;
}
.footerNav {
    justify-content: space-around;
}
/* tablet */

/* desktop */

/* color scheme: #0765BC #FFFFFF #626262 #787878 #EFEFEF
                  blue    white  darkgray  gray  lightgray */