/* mobile */
* {
    font-family: 'Sintony', sans-serif;
    background-color: #FFFFFF;
    color: #787878;
    border: 1px solid black;
}

/* tablet */

/* desktop */

/* color scheme: #0765BC #FFFFFF #626262 #787878
                  blue    white  darkgray  gray */