
footer {
  width:100%;
}

.portfolioItem{
list-style-type: none;
margin: 0 0 !important;
margin-left: -2rem !important;}

#loginpage div, #signuppage div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    margin-top:8vh;
}

#valuesharklogo {
    width: 15%;
}

.card-body {
    text-align: center;
    border-bottom: 1px solid black;
}
    .card-body p {
        padding: 4px 0 !important;
        margin: 0 !important;
    }
    .card-body p:nth-child(even) {
        background-color: rgb(242, 242, 242);
    }

.vertical-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style-type: none;
}


#uldiv{
    padding-bottom: 15px;
    margin: 0 0 !important;
    padding-top:1vh;

}


.card {
    width: 15rem;
}

#portfolioList {
}
#uldiv:nth-child(odd) {
    background-color:#e7e7e9;
}

#uldiv:nth-child(even) {
    background-color:#e0e0e0;
}

#uldiv > ul > div{
    margin-left:-0.1vw;
}

/* splash unlogged */
#markusunsplash, #ibrahimunsplash {
    width: 100%;
    opacity: 0.7;
}
.jumbotron {
    margin-bottom: 0;
}
#jumbotron1, #jumbotron2 {
    width: 100%;
}
.blurbs {
    width: 100%;
    padding-top: 200px;
    padding-bottom: 200px;
}

#stockNotFound {
    margin-top: 20%;
}

