// Extra small devices (portrait phones, less than 576px)

* {
    border: 1px solid black;
    box-sizing: border-box;
    text-align: center;
}

html {
    width: 480px;
}

#valuesharklogo {
    width: 480px;
}

#loginform {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loginform fieldset {
    border: 2px solid #EFEFEF;
}

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }