#valuesharkfin {
    width: 50px;
}

/* header logo */
#valuesharklogo {
    width: 480px;
}

/* header, footer */
/* header, footer {
    background-color: #787878;
} */

/* hamburger menu */

.company {
    width: 50%;
    margin: auto;
    margin-top: 1em;
}
    .company label {
        display: inline-block;
    }
        .company label p {
            font-weight: bold;
        }
/* login submit button */

