/* search bar */
.ui-widget form #tags {
    border-radius: 50px;
    outline: none;
    text-align: center;
}

/* start of styling for prospects table. from branch lucas-prospects. delete this comment after merges */
.company {
    width: 50%;
    margin: auto;
    margin-top: 1em;
}
    .company label {
        display: inline-block;
    }
        .company label p {
            font-weight: bold;
        }