/* aboutus tiles */
.aboutusbio {
    animation-name: aboutustiles;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}
@keyframes aboutustiles {
    from {opacity: 0; padding: 0px; margin-top: 0px; margin-left:0px; margin-right:0px;}
    to {opacity: 1; padding: 5px; margin-top: 5px; margin-left:5px; margin-right:5px;}
}

/* login, signup */
#valuesharklogo {
    animation-name: fadein;
    animation-duration: 0.9s;
}
@keyframes fadein {
    from {opacity: 0; margin-bottom: 100px;}
    to {opacity: 1; margin: 0px;}
}