<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head.html :: head"></head>
<body>
    <header th:replace="/fragments/header.html :: header"></header>
    <main>
        <h1>Meet the developers</h1>
        <section class="devs container">
            <div class="row">
                <h3 class="col">Chase Tucker</h3>
                <img class="col" src="/img/Chase.jfif"/>
                <p>My name is Chase Tucker and I am a Back-End Developer. I have a passion for turning ideas into delightful solutions.
                    I am a veteran, a former Manufacturing Manager and Analyst. While working in manufacturing, I recognized that
                    software had the greatest potential to overcome our greatest challenges. Pursued C.S. degree part-time while working,
                    but realized the fastest path to my passion was through attending a code school. I excel at building powerful data
                    pipelines and serving them up to create beautiful user experiences. I believe my diverse background and skill set
                    give me the tools I need to tackle any challenge.</p>
            </div>
        </section>
        <section class="devs container">
            <div class="row order-1">
                <h3 class="col order-2">Vik Akam</h3>
                <img class="col order-1" src="/img/Vik.jfif"/>
                <p class="row order-2">I graduated from the University of Washington in 2016 with a BS in Biochemistry. After spending a total of nearly a decade
                    in the health care sector, I'm excited to get my feet wet in software development; learning about how and why computers work
                    the way they do is profoundly similar to learning a biochemical pathway, and that's what gets me excited every single day
                    about going into this sector. I look forward to making an impact in the industry by working on both sides of the stack to
                    give an astounding user experience.</p>
            </div>
        </section>
        <section class="devs container">
            <h3 class="col">Ashlyn Morin</h3>
            <img class="col" src="/img/Ashlyn.jfif" />
            <p>Lorum ipsum blah blah hello world omg lorum ipsum blah blah hello world omg lorum ipsum blah blah hello world omg lorum ipsum blah blah hello world omg lorum ipsum blah blah hello world omg lorum ipsum blah blah hello world omg lorum ipsum blah blah hello world omg lorum ipsum blah blah hello world omg lorum ipsum blah blah hello world omg lorum</p>
        </section>
        <section class="devs container">
            <h3 class="col order-2">Ran Vaknin</h3>
            <img class="col order-1" src="/img/Ran.jfif" />
            <p>Lorum ipsum blah blah hello world omg lorum ipsum blah blah hello world omg lorum ipsum blah blah hello world omg lorum ipsum blah blah hello world omg lorum ipsum blah blah hello world omg lorum ipsum blah blah hello world omg lorum ipsum blah blah hello world omg lorum ipsum blah blah hello world omg lorum ipsum blah blah hello world omg lorum</p>
        </section>
        <section class="devs container">
            <h3 class="col">Lucas Wilber</h3>
            <img class="col" src="/img/Lucas.jfif" />
            <p>Lorum ipsum blah blah hello world omg lorum ipsum blah blah hello world omg lorum ipsum blah blah hello world omg lorum ipsum blah blah hello world omg lorum ipsum blah blah hello world omg lorum ipsum blah blah hello world omg lorum ipsum blah blah hello world omg lorum ipsum blah blah hello world omg lorum ipsum blah blah hello world omg lorum</p>
        </section>
    </main>
    <footer th:replace="/fragments/footer.html :: footer"></footer>
    <script th:replace="/fragments/bootstrapscripts.html :: bootstrapscripts"></script>
</body>
</html>