<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head"></head>
<body>
    <header th:replace="fragments/header.html :: header"></header>
    
    <main>
        <h1 class="text-center font-weight-bold border-bottom w-75 mx-auto">Meet the Developers</h1>
        
        <div class="text-center m-3 mx-auto border bg-light w-75">
            <div class="m-2 p-2 mx-auto border bg-white w-75">
                <div class="row align-items-center">
                    <h2 class="col">Chase Tucker</h2>
                    <img id="chase" class="col border-light rounded" src="/img/Chase.jfif"/>
                </div>
                <p>Chase Tucker is a Full-Stack Developer with a passion for turning ideas into delightful solutions. He is a veteran, a former Manufacturing Manager and Analyst. While working in manufacturing, he recognized that
                software had the greatest potential to overcome the greatest challenges. Chase pursued C.S. degree part-time while working, but realized the fastest path to his passion was through attending a code school. He excels at building powerful data pipelines and serving them up to create beautiful user experiences. He believes his diverse background and skill set give him the tools he needs to tackle any challenge.</p>
            </div>
        </div>

        <div class="text-center m-3 mx-auto border bg-light w-75">
            <div class="m-2 p-2 mx-auto border bg-white w-75">
                <div class="row align-items-center">
                    <h2 class="col order-2">Vik Akam</h2>
                    <img id="vik" class="col order-1" src="/img/Vik.jfif"/>
                </div>
                <p>I graduated from the University of Washington in 2016 with a BS in Biochemistry. After spending a total of nearly a decade
                    in the health care sector, I'm excited to get my feet wet in software development; learning about how and why computers work
                    the way they do is profoundly similar to learning a biochemical pathway, and that's what gets me excited every single day
                    about going into this sector. I look forward to making an impact in the industry by working on both sides of the stack to
                    give an astounding user experience.</p>
            </div>
        </div>

        <div class="text-center m-3 mx-auto border bg-light w-75">
            <div class="m-2 p-2 mx-auto border bg-white w-75">
                <div class="row align-items-center">
                    <h2 class="col order-1">Ashlyn Morin</h2>
                    <img id="ashlyn" class="col order-2" src="/img/Ashlyn.jfif"/>
                </div>
                <p>Hi, my name is Ashlyn and I am passionate about creating software that helps ease the burden of business and life in general.
                    I believe that technology is something that can enhance anyone’s life and business, and have seen that in my own life.
                    I formerly worked as an Accounts Executive for a coffee company and utilized different tech applications to streamline operations
                    at the company, making it more efficient and increasing profits. I decided that I wanted to be the one to create those technologies
                    that I was using, so I began my journey into the tech industry. I really value helping others, organization, efficiency and
                    creativity and the fact that I can combine all of that into a career that helps other people is really exciting to me.</p>
            </div>
        </div>

        <div class="text-center m-3 mx-auto border bg-light w-75">
            <div class="m-2 p-2 mx-auto border bg-white w-75">
                <div class="row align-items-center">
                    <h2 class="col order-2">Ran Vaknin</h2>
                    <img id="ran" class="col order-1" src="/img/Ran.jfif"/>
                </div>
                <p>Lorum ipsum blah blah hello world omg lorum ipsum blah blah hello world omg lorum ipsum blah blah hello world omg lorum ipsum blah blah hello world omg lorum ipsum blah blah hello world omg lorum ipsum blah blah hello world omg lorum ipsum blah blah hello world omg lorum ipsum blah blah hello world omg lorum ipsum blah blah hello world omg lorum</p>
            </div>
        </div>

        <div class="text-center m-3 mx-auto border bg-light w-75">
            <div class="m-2 p-2 mx-auto border bg-white w-75">
                <div class="row align-items-center">
                    <h2 class="col order-1">Lucas Wilber</h2>
                    <img id="lucas" class="col order-2" src="/img/Lucas.jfif"/>
                </div>
                <p>I'm Lucas, a software developer and Air Force veteran.
                    I enjoy problem solving and working with computers, so after my time in the Air Force I started work at a data center, which is where my interest in software development began.
                    I eventually decided to pursue software full time and enrolled at Code Fellows, which is where I helped create this project.</p>
            </div>
        </div>
    </main>
    <footer th:replace="fragments/footer.html :: footer"></footer>
    <script th:replace="fragments/bootstrapscripts.html :: bootstrapscripts"></script>
</body>
</html>