<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>About us</title>
    <th:block th:replace="/fragments/cssfiles.html :: cssfiles"></th:block>
</head>
<body>
    <header class="container" th:replace="/fragments/header.html :: header"></header>
    <main>
        <h1>Meet the developers</h1>
        <section class="devs">
            <h3>Chase Tucker</h3>
            <img src="/img/Chase.jfif">
        </section>
        <section class="devs">
            <h3>Vik Akam</h3>
            <img/>
        </section>
        <section class="devs">
            <h3>Ashlyn Morin</h3>
            <img/>
        </section>
        <section class="devs">
            <h3>Ran Vaknin</h3>
            <img/>
        </section>
        <section class="devs">
            <h3>Lucas Wilber</h3>
            <img/>
        </section>
    </main>
    <footer th:replace="/fragments/footer.html :: footer"></footer>
    <script th:replace="/fragments/bootstrapscripts.html :: bootstrapscripts"></script>
</body>
</html>