<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <th:block th:replace="/fragments/cssfiles.html :: cssfiles"></th:block>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script> -->
  <title>Document</title>
</head>
<body>
  <header th:replace="/fragments/header.html :: header"></header>
  <main>

    <h1>Company Details</h1>
    <section id="companyHeader">
      <h2 th:text="${company.companyName}"></h2>

      <img th:src="${company.logoUrl}" th:alt = "${company.companyName} + 'logo'">
      <p th:text="'Price: ' + ${company.price}"></p>

    <ul id ="companyDetails">
      <li th:text="'Exchange: '+ ${company.exchange}"></li>
      <li th:text="'Sector: '+ ${company.sector}"></li>
      <li th:text="'Industry: '+ ${company.industry}"></li>
      <li th:text="'CEO: '+ ${company.CEO}"></li>

     </ul>

      <p id= "companyDescription" th:text ="${company.description}"></p>

      <div id="companyStats">
        <h2>Stats:</h2>
        <ul>
          <li th:text="'Market cap: '+ ${company.marketcap}"></li>
          <li th:text="'Week 52 high: '+ ${company.week52high}"></li>
          <li th:text="'Week 52 low: '+ ${company.week52low}"></li>
          <li th:text="'Week 52 change: '+ ${company.week52change}"></li>
          <li th:text="'Shares outstanding: '+ ${company.sharesOutstanding}"></li>
          <li th:text="'Day 200 moving avg: '+ ${company.day200MovingAvg}"></li>
          <li th:text="'Day 50 moving avg: '+ ${company.day50MovingAvg}"></li>
          <li th:text="'ttm EPS: '+ ${company.ttmEPS}"></li>
          <li th:text="'Next earning date: '+ ${company.nextEarningsDate}"></li>
          <li th:text="'P/E ratio: '+ ${company.peRatio}"></li>
          <li th:text="'Beta: ' + ${company.beta}"></li>
          <li th:text="'Profit margin: '+ ${company.profitMargin}"></li>
          <li th:text="'Enterprise value: '+ ${company.enterpriseValue}"></li>
          <li th:text="'Price to book: '+ ${company.priceToBook}"></li>
          <li th:text="'PEG ratio: '+ ${company.pegRatio}"></li>
        </ul>
      </div>

      <article id="companynews">
        <h2>In the News</h2>
        <h3 th:text="${company.newsHeadline}"></h3>
        <p th:text="${company.newsDate}"></p>
        <a th:href="${company.newsUrl}"></a>
        <p th:text="'Source: '+ ${company.newsSource}"></p>
        <p th:text= "${company.newsSummary}"></p>
      </article>

      <article id="addressInfo">
        <p th:text="${company.city} + ${company.state} + ${company.country}"></p>
        <a th:href="'Website: ' + ${company.website}"></a>
      </article>

      <form id="addToPortfolio" th:action="'/portfolio/add/'+${company.id}" method="post">
        <label>Shares owned:
        <input name="shares" type="text"/>
        </label>
        <label>Price paid:
        <input name="pricePerShare" type="text"/>
        </label>
        <input type="submit" value="Add to portfolio">
      </form>
    </section>

  </main>
  <footer th:replace="/fragments/footer.html :: footer"></footer>
</body>
</html>