<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/head.html :: head"></head>
  <body>
    <header th:replace="fragments/header.html :: header"></header>
    <main>

      <h1 class="text-center font-weight-bold border-bottom w-75 mx-auto pb-2">Company Details</h1>
      <h2 class="text-center" th:text="${company.companyName}"></h2>

      <div class="text-center">
        <img th:src="${company.logoUrl}" th:alt = "${company.companyName} + ' logo'">
      </div>

      <div class="text-center m-3 mx-auto border bg-light w-75">
        <div class="m-2 p-2 mx-auto border bg-white w-75">
          <h3 class="text-center font-weight-bold mx-auto">General Information</h3>
          <p class="m-1">CEO:<b th:text="' '+ ${company.CEO}"></b></p>
          <p class="m-1" th:text="${company.city} + ', ' + ${company.state} + ' ' + ${company.country}"></p>
          <a class="m-1" th:href="${company.website}" th:text="${company.website}"></a>
          <p th:text="${company.description}"></p>
        </div>
      </div>
      
      <div class="text-center m-3 mx-auto border bg-light w-75">
        <div class="m-2 p-2 mx-auto border bg-white w-75">
          <h3 class="text-center font-weight-bold mx-auto">Market Information</h3>
          <p class="m-1">Exchange:<b th:text="' '+ ${company.exchange}"></b></p>
          <p class="m-1">Sector:<b th:text="' '+ ${company.sector}"></b></p>
          <p class="m-1">Industry:<b th:text="' '+ ${company.industry}"></b></p>
        </div>
      </div>

      <div class="text-center m-3 mx-auto border bg-light w-75">
        <div class="container m-2 p-2 mx-auto border bg-white w-75">
          <h3 class="text-center font-weight-bold mx-auto">Statistics</h3>
          <div class="row">
            <div class="col">
              <p>Price: <b>$[[${#numbers.formatDecimal(company.price, 0, 'COMMA', 2, 'POINT')}]]</b></p>
              <p>Market Cap: <b>$[[${#numbers.formatDecimal(company.marketcap, 0, 'COMMA', 2, 'POINT')}]]</b></p>
              <p>Week 52 High: <b>$[[${#numbers.formatDecimal(company.week52high, 0, 'COMMA', 2, 'POINT')}]]</b></p>
              <p>Week 52 Low: <b>$[[${#numbers.formatDecimal(company.week52low, 0, 'COMMA', 2, 'POINT')}]]</b></p>
              <p>Week 52 Change: <b>[[${#numbers.formatDecimal(company.week52change * 100, 0, 'COMMA', 2, 'POINT')}]]%</b></p>
              <p>Shares Outstanding: <b>[[${#numbers.formatDecimal(company.sharesOutstanding, 0, 'COMMA', 0, 'POINT')}]]</b></p>
              <p>Day 200 Moving Avg: <b>$[[${#numbers.formatDecimal(company.day200MovingAvg, 0, 'COMMA', 2, 'POINT')}]]</b></p>
              <p>Day 50 Moving Avg: <b>$[[${#numbers.formatDecimal(company.day50MovingAvg, 0, 'COMMA', 2, 'POINT')}]]</b></p>
            </div>
            <div class="col">
              <p>EPS (ttm): <b>$[[${#numbers.formatDecimal(company.day50MovingAvg, 0, 'COMMA', 2, 'POINT')}]]</b></p>
              <p>Next Earning Date: <b>[[${company.nextEarningsDate}]]</b></p>
              <p>P/E ratio: <b>[[${#numbers.formatDecimal(company.peRatio, 0, 2, 'POINT')}]]</b></p>
              <p>Beta: <b>[[${#numbers.formatDecimal(company.beta, 0, 2, 'POINT')}]]</b></p>
              <p>Profit Margin: <b>[[${#numbers.formatDecimal(company.profitMargin * 100, 0, 'COMMA', 2, 'POINT')}]]%</b></p>
              <p>Enterprise Value: <b>$[[${#numbers.formatDecimal(company.enterpriseValue, 0, 'COMMA', 2, 'POINT')}]]</b></p>
              <p>Price-to-Book: <b>[[${#numbers.formatDecimal(company.priceToBook, 0, 'COMMA', 2, 'POINT')}]]</b></p>
              <p>Peg Ratio: <b>[[${#numbers.formatDecimal(company.pegRatio, 0, 'COMMA', 2, 'POINT')}]]</b></p>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center m-3 mx-auto border bg-light w-75">
        <div class="m-2 p-2 mx-auto border bg-white w-75">
          <h3 class="text-center font-weight-bold mx-auto">In The News</h3>
          <a th:href="${company.newsUrl}"><h4 th:text="${company.newsHeadline}"></h4></a>
          <p class="m-1" th:text="${company.newsDate}"></p>
          <p class="m-1" th:text="${company.newsSummary}"></p>
        </div>
      </div>

      <div class="text-center m-3 mx-auto border bg-light w-75">
        <div class="m-2 p-2 mx-auto border bg-white w-75">
          <h3 class="text-center font-weight-bold mx-auto">Add To Portfolio</h3>
          <form th:action="'/portfolio/add/'+${company.symbol}" method="post">
            <div class="form-group">
              <label for="shares">Shares owned:</label>
              <input class="form-control w-50 mx-auto" id="shares" name="shares" type="text"/>
            </div>
            <div class="form-group">
              <label for="pricePerShare">Price paid:</label>
              <input class="form-control w-50 mx-auto" id="pricePerShare" name="pricePerShare" type="text"/> 
            </div>
            <button type="submit" class="btn btn-primary">Add To Portfolio</button>
          </form>
        </div>
      </div>      
    </main>
    <footer th:replace="fragments/footer.html :: footer"></footer>
    <script th:replace="fragments/bootstrapscripts.html :: bootstrapscripts"></script>
  </body>
</html>