<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <th:block th:replace="/fragments/cssfiles.html :: cssfiles"></th:block>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script> -->
  <title>Document</title>
</head>
<body>
  <header th:replace="/fragments/header.html :: header"></header>
  <main>
    <h1>Company Details</h1>
    <section id="companyHeader">
      <h2 th:text="${company.companyName}"></h2>
      <img th:src="${company.logoURL}" th:alt = "${company.companyName} + 'logo'">
      <p th:text="${company.price}"></p>
    <ul id ="companyDetails">
      <li th:text="${company.exchange}"></li>
      <li th:text="${company.sector}"></li>
      <li th:text="${company.industry}"></li>
      <li th:text="${company.CEO}"></li>

     </ul>

      <p id= "companyDescription" th:text ="${company.description}"></p>

      <div id="companyStats">
        <h2>Stats:</h2>
        <ul>
          <li th:text="${company.marketcap}"></li>
          <li th:text="${company.week52high}"></li>
          <li th:text="${company.week52low}"></li>
          <li th:text="${company.week52change}"></li>
          <li th:text="${company.sharesOutstanding}"></li>
          <li th:text="${company.day200MovingAvg}"></li>
          <li th:text="${company.day50MovingAvg}"></li>
          <li th:text="${company.ttmEPS}"></li>
          <li th:text="${company.nextEarningsDate}"></li>
          <li th:text="${company.peRatio}"></li>
          <li th:text="${company.beta}"></li>
          <li th:text="${company.profitMargin}"></li>
          <li th:text="${company.enterpriseValue}"></li>
          <li th:text="${company.priceToBook}"></li>
          <li th:text="${company.pegRatio}"></li>
        </ul>
      </div>

      <article id="companynews">
        <h2>In the News</h2>
        <h3 th:text="${company.newsHeadline}"></h3>
        <p th:text="${company.newsDate}"></p>
        <a th:href="${company.newsUrl}"></a>
        <p th:text="${company.newsSource}"></p>
        <p th:text= "${company.newsSummary}"></p>
      </article>

      <ul id="addressInfo">
        <li th:text="${company.state}"></li>
        <li th:text="${company.city}"></li>
        <li th:text="${company.country}"></li>
        <li th:text="${company.website}"></li>
      </ul>

    </section>

  </main>
  <footer th:replace="/fragments/footer.html :: footer"></footer>
</body>
</html>