<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head"></head>
<body>
    <header th:replace="fragments/header.html :: header"></header>
    <main style="min-height:90vh;">
            <th:block th:if="${user}">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-3 pt-3">
                            <h4 class="text-center font-weight-bold" style="color:#444444;">PORTFOLIO</h4>
                            <div th:replace="fragments/portfolioTable.html :: portfolioTable"></div>
                        </div>
                        <div class="col-sm-9 pt-3">
                            <h4 class="text-center font-weight-bold" style="color:#444444;">PROSPECTIVE INVESTMENTS</h4>
                            <p class="text-center w-75 mx-auto">The following list of stocks is updated weekly and has been filtered using these criteria: Price < 80% of analysts' average target price, 0 < PEG Ratio < 2, 0 < PE Ratio < 20, Profit Margin > 10%, 0 < PB Ratio < 2 & Beta < 2</p>
                            <div th:replace="fragments/prospectsTable.html :: prospectsTable"></div>
                        </div>
                    </div>
                </div>
            </th:block>
        <th:block th:unless="${user}">
            <section id="jumbotron1" class="jumbotron jumbotron-fluid">
                <div>
                    <div class="row no-gutters text-center align-items-center">
                        <article id="splashslogan" class="col">
                            <h1 class="display-3">Don't spend time - just make money.</h1>
                            <h4 class="lead">ValueShark&#169; is value investment for 2020 and beyond -
                                see all the results you need, all on one page.</h4>
                            <hr class="my-4">
                            <p>Sign up for an account here - it's free!</p>
                            <a id="signuploginsubmit" class="btn btn-primary btn-lg" href="/signup" role="button">Get started</a>
                        </article>
                        <article class="col">
                            <img id="markusunsplash" src="/img/markus-spiske-unsplash.jpg" alt="Photo by Markus Spiske Unsplash"/>
                        </article>
                    </div>
                </div>
            </section>
            <div id="jumbotron2" class="jumbotron jumbotron-fluid">
                <div class="row no-gutters text-center align-items-center">
                    <div class="col">
                        <img id="ibrahimunsplash" src="/img/ibrahim-rifath.jpg" alt="Photo by Ibrahim Rifath Unsplash"/>
                    </div>
                    <div class="col">
                        <section id="carouselcontrols" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselcontrols" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselcontrols" data-slide-to="1"></li>
                                <li data-target="#carouselcontrols" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner align-items-center">
                                <article id="splashslogan" class="carousel-item active blurbs no-gutters">
                                    <h1 class="display-4 d-block w-100">ValueShark&#169; is proud to use IEX Cloud.</h1>
                                    <a id="signuploginsubmit" class="btn btn-primary btn-lg d-block w-100" href="https://iexcloud.io/" target="_blank" role="button">Explore IEX</a>
                                </article>
                                <article id="splashslogan" class="carousel-item blurbs no-gutters">
                                    <h1 class="display-3 d-block w-100">PEG, P/E, PEG, and Everything In-Between</h1>
                                    <h4 class="lead d-block w-100">Pick your stocks based on all relevant intrinsic value parameters - no calculator needed.</h4>
                                </article>
                                <article id="splashslogan" class="carousel-item blurbs no-gutters">
                                    <h1 class="display-3 d-block w-100">Numbers, News, and No Nonsense</h1>
                                    <h4 class="lead d-block w-100">Read the latest news and most relevant statistics to make quick decisions.</h4>
                                </article>
                            </div>
                            <a class="carousel-control-prev" href="#carouselcontrols" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselcontrols" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </section>
                    </div>
                </div>
            </div>
            <!-- carousel -->
            <!-- carousel: IEX -->
            <!-- carousel: value investing features -->
            <!-- carousel: CRUD features -->
        </th:block>
    </main>
    <footer th:replace="fragments/footer.html :: footer"></footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
</body>
<script th:replace="fragments/bootstrapscripts.html :: bootstrapscripts"></script>
</html>