<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Valueshark</title>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
  $( function() {
    var availableTags = [
      "Apple",
      "Facebook",
      "Tesla",
      "Bank Of America",
      "Teva",
      "WeWork",
      "SpaceX",
      "Blue Origin",
      "Amazon",
      "CodeFellows",
      "Fortran",
      "Groovy",
      "Haskell",
      "Java",
      "JavaScript",
      "Lisp",
      "Perl",
      "PHP",
      "Python",
      "Ruby",
      "Scala",
      "Scheme"
    ];
    $( "#tags" ).autocomplete({
      source: availableTags
    });
  } );
  </script>
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
                <th:block th:if="${user}">
                    <a href="/myprofile">My profile</a>
                    <a href="/portfolio">My portfolio</a>
                    <a href="/logout">Log out</a>
                </th:block>
                <th:block th:unless="${user}">
                    <a href="/login">Log in</a>
                    <a href="/signup">Sign up</a>
                </th:block>
        </nav>
    </header>
        <div class="ui-widget">
            <form method="GET" action="/stocks">
            <label for="tags">Find Stocks: </label>
            <input id="tags" name="companyName"/>
            <input type="submit" value="Search"/>
            </form>
        </div>
    <footer>

    </footer>
</body>
</html>