<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Valueshark</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
                <th:block th:if="${user}">
                    <a href="/myprofile">My profile</a>
                    <a href="/portfolio">My portfolio</a>
                    <a href="/logout">Log out</a>
                </th:block>
                <th:block th:unless="${user}">
                    <a href="/login">Log in</a>
                    <a href="/signup">Sign up</a>
                </th:block>
        </nav>
    </header>
    <body>
        <!-- slogan -->
    </body>
    <footer>

    </footer>
</body>
</html>