<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head.html :: head"></head>
    <body>
        <header th:replace="fragments/header.html :: header"></header>
        <main id="loginpage">
            <h1>Log In</h1>
            <img id="valuesharklogo" src="/img/valuesharklogo.png" alt="valueshark image"/>
            <form class="container" action="/login" method="POST" id="loginform">
                <fieldset>
                    <label class="row">Username
                        <input class="col" name="username"/>
                    </label>
                </fieldset>
                <fieldset>
                    <label class="row">Password
                        <input class="col" type="password" name="password"/>
                    </label>
                </fieldset>
                <input id="loginsubmit" type="submit" value="Log in"/>
            </form>
            <script th:replace="fragments/bootstrapscripts.html :: bootstrapscripts"></script>
        </main>
        <footer th:replace="fragments/footer.html :: footer"></footer>
        <script th:replace="fragments/bootstrapscripts.html :: bootstrapscripts"></script>
    </body>
</html>