<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Log in</title>
        <th:block th:replace="/fragments/cssfiles.html :: cssfiles"></th:block>
    </head>
    <body>
        <header th:replace="/fragments/header.html :: header"></header>
        <main id="loginpage">
            <img src="/img/valuesharklogo.png" alt="valueshark image"/>
            <h1>Log In</h1>
            <form action="/login" method="POST" id="loginform">
                <fieldset>
                    <label>Username <input class="loginfields" name="username"/></label>
                </fieldset>
                <fieldset>
                    <label>Password <input class="loginfields" type="password" name="password"/></label>
                </fieldset>
                <input id="loginsubmit" type="submit" value="Log in"/>
            </form>
        </main>
        <footer th:replace="/fragments/footer.html :: footer"></footer>
    </body>
</html>