<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My profile</title>
    <th:block th:replace="/fragments/cssfiles.html :: cssfiles"></th:block>
</head>
<body>
    <header th:replace="/fragments/header.html :: header"></header>
    <main>
        <h1>My profile</h1>
        <h3 th:text="${user.username}"></h3>
        <h3 th:text="${user.firstName}"></h3>
        <h3 th:text="${user.lastName}"></h3>
        <h3 th:text="${user.email}"></h3>
    </main>
    <footer th:replace="/fragments/footer.html :: footer"></footer>
</body>
</html>
