<!DOCTYPE html>
<html lang="en">
    <head th:replace="/fragments/head.html :: head"></head>
    <body>
        <header th:replace="/fragments/header.html :: header"></header>
        <main>
            <h1>My profile</h1>
            <h3 th:text="${user.username}"></h3>
            <h3 th:text="${user.firstName}"></h3>
            <h3 th:text="${user.lastName}"></h3>
            <h3 th:text="${user.email}"></h3>
        </main>
        <footer th:replace="/fragments/footer.html :: footer"></footer>
        <script th:replace="/fragments/bootstrapscripts.html :: bootstrapscripts"></script>
    </body>
</html>
