<!DOCTYPE html>
<html lang="en">
    <head th:replace="/fragments/head.html :: head"></head>
    <body>
        <header th:replace="/fragments/header.html :: header"></header>
        <main id="signuppage">
            <h1>Sign up</h1>
            <img id="valuesharklogo" src="/img/valuesharklogo.png" alt="valueshark image"/>
            <h3 id="userexists" th:if="${param.taken}">That username is taken.</h3>
            <form class="container" action="/signup" method="POST" id="signupform">
                <fieldset>
                    <label class="row">Username <input class="col" name="username"/></label>
                </fieldset>
                <fieldset>
                    <label class="row">Password <input class="col" type="password" name="password"/></label>
                </fieldset>
                <fieldset>
                    <label class="row">First Name <input class="col" name="firstName"/></label>
                </fieldset>
                <fieldset>
                    <label class="row">Last Name <input class="col" name="lastName"/></label>
                </fieldset>
                <fieldset>
                    <label class="row">Email <input class="col" name="email"/></label>
                </fieldset>
                <input type="submit" value="Sign up"/>
            </form>
        </main>
        <footer th:replace="/fragments/footer.html :: footer"></footer>
        <th:block th:replace="/fragments/bootstrapscripts.html :: bootstrapscripts"></th:block>
    </body>
</html>