<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head"></head>
<body>
<header th:replace="fragments/header.html :: header"></header>
<main>
    <h1 id="stockNotFound" class="text-center">Sorry, We Couldn't Find That Stock</h1>
</main>
<div id="lowerFooter">
    <footer th:replace="fragments/footer.html :: footer"></footer>
</div>
</body>
<script th:replace="fragments/bootstrapscripts.html :: bootstrapscripts"></script>
</html>