<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Valueshark&#169</title>
    <th:block th:replace="fragments/cssfiles.html :: cssfiles"></th:block>
</head>
<body>
<header th:replace="fragments/header.html :: header"></header>
<main>
    <h1 id="stockNotFound" class="text-center">Sorry, We Couldn't Find That Stock</h1>
</main>

<footer th:replace="fragments/footer.html :: footer"></footer>
</body>
<script th:replace="fragments/bootstrapscripts.html :: bootstrapscripts"></script>
</html>